// $breakpoints: (
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
// ) !default;

// Breakpoints - mobile first boundaries
$breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1800px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Could not find `#{$breakpoint}`. Current breakpoints are: #{map-keys($breakpoints)}";
  }
}
