@import './fonts.scss';
@import './variables.scss';
@import './breakpoints.scss';
@import './flex.scss';
@import './grid.scss';

@import '../../../node_modules/nes.css/css/nes.css';

html {
  font-size: 62.5%;

  body {
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Press Start 2P';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &,
  * {
    box-sizing: border-box;
  }

  .nes-container.with-title > .title {
    display: table;
    padding: 0 0.5rem;
    margin: -2rem -0.5rem 1rem;
    font-size: 1rem;
    background-color: #fff;
  }
}
