@import 'src/assets/scss/variables.scss';

.c-pokemon {
  background: #d3d3d3;
  padding: $padding;

  .nes-btn {
    margin-top: $padding;
  }

  &:hover {
    background: #d3d3d3aa;
  }

  &__sprite {
    min-height: 9.6rem;
  }

  h5 {
    white-space: nowrap;
    width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: $padding / 2;
  }
}
