@import 'src/assets/scss/variables.scss';

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;

  &__content {
    padding: $padding 0;
    border-bottom: 4px solid #d3d3d3;
    border-top: none;
    background-color: white;
  }

  &__title {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: underline;
  }

  &__banner {
    padding: $padding / 2 0;
    background-color: white;
    border-top: 4px solid #d3d3d3;
    border-bottom: 4px solid #d3d3d3;

    h5 {
      margin: 0;
      padding: 0;
    }
  }

  &__cart-btn {
    width: 100%;
  }
}
