@import 'src/assets/scss/variables.scss';

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100vw;

  &__content {
    padding: $padding 0;
    border-bottom: 4px solid #d3d3d3;
    border-top: 4px solid #d3d3d3;
    background-color: $grass;
  }

  &__title {
    padding: 0;
    margin: 0;
  }

  &__banner {
    padding: $padding / 2 0;
    background-color: white;

    h5 {
      margin: 0;
      padding: 0;
    }
  }
}
