@import 'src/assets/scss/variables.scss';

.c-cart-item {
  background: #d3d3d3;
  padding: 0 $padding;

  &:not(:last-child) {
    margin-bottom: $padding / 2;
  }

  i.nes-pokeball {
    transform: scale(0.3);
    margin-left: -$padding + 1;
  }

  &__name {
    margin-right: $padding;
  }

  &__price {
    margin-left: $padding / 4;
    margin-right: $padding * 2;
    line-height: 8.4rem;
  }

  &__price-icon {
    margin-left: 2rem !important;
  }

  &:hover {
    background: #d3d3d3aa;
  }
}
