@import 'src/assets/scss/variables.scss';
@import 'src/assets/scss/breakpoints.scss';

.c-store-home {
  padding-top: $padding;
  padding-bottom: $padding;

  &__pokemon-card {
    color: black;
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  &__not-found {
    opacity: 0.5;
  }
}
